* {
  box-sizing: border-box;
  transition: all .2s ease-in-out;
}


.header {
  width: 100%;
  max-width: 1200px;
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: 14px 17px 40px 0px rgba(112, 144, 176, 0.08);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 24px;
  border-radius: 30px;
}


.header-logo {
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7b5aff;
  ;
}

.header-logo h4 {
  color: #fff;
  font-weight: 500;
}

.nav-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.nav-btn {
  max-width: 166px;
  background-color: #7b5aff;
  padding: 7px 20px;
  height: auto;
  border-radius: 30px;
}

.nav-btn span {
  font-size: 15px;

}

.nav-btn:hover {
  background-color: #6242e4 !important;
}

.hero-container {
  max-width: 1200px;
  background-image: url("/assets/hero-bg.jpeg");
  background-size: cover;
  margin: 20px auto 0px auto;
  border-radius: 20px;
  color: #fff;
  box-shadow: 14px 17px 40px 0px rgba(0, 0, 0, 0.13);
  padding: 0 !important;
  background-position-y: 80%;
}

.hero-inner-box {
  height: 280px;
  border-radius: 20px 0px 0px 20px;
  background: linear-gradient(90deg, #000 0%, rgba(0, 0, 0, 0) 55.12%);
  padding: 40px;
  display: flex;
  align-items: center;
}

.hero-content h1 {
  font-size: 34px;
  font-weight: 600;
}

.hero-content p {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 30px;
}

.hero-btn-style {
  min-width: 166px !important;
  padding: 14px 20px !important;
}

.check-in-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.check-in-container h1 {
  font-size: 30px;
  font-weight: 500;
  margin: 30px 0px;
}

.card-container {
  width: fit-content;
  border-radius: 20px;
  padding: 24px 21px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 14px 17px 40px 0px rgba(0, 0, 0, 0.13);
  gap: 20px;
}

.card-img-conatiner {
  position: relative;
}

.card-img {
  object-fit: cover;
  object-position: center;
  height: 160px;
  width: 100% !important;
  border-radius: 20px;
  background-color: #718096;
}

.card-checkIn {
  width: 120px;
  text-align: center;
  height: auto;
  padding: 10px 5px;
  border-radius: 30px;
  background-color: #7b5aff;
  color: #fff;
  font-size: 14px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.card-container h3 {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
}

.card-container>p {
  font-weight: 16px;
  font-weight: 400;
  margin: 0;
  color: #718096;
}

.card-profile {
  display: flex;
  align-items: center;
  gap: 10px;
}

.card-profile {
  font-size: 16px;
  font-weight: 600;
  color: #000;
}

.checkIn-card-area {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
}

.modal-cancel-btn {
  max-width: 166px;
  padding: 7px 20px;
  border: 1px solid #D9D9D9;
  height: auto;
  border-radius: 30px;
}

.modal-cancel-btn span {
  font-size: 14px;
  font-weight: 400;
  color: #000;
}

.modal-container {
  width: 100%;
  padding: 10px;
}

.ant-modal-title {
  color: #000 !important;
  font-weight: 500 !important;
  padding: 24px 24px 10px 24px;
  background-color: #F8F8F8 !important;
  border-radius: 30px 30px 0px 0px;
}

.modal-input-conatiner {
  margin-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
}

.modal-input-conatiner h3 {
  margin: 0;
  margin-bottom: 10px;
  color: #000;
  font-weight: 500;
}

.anticon-inbox svg {
  color: #7b5aff !important;
}

.ant-upload-text {
  color: #000;
  font-weight: 500 !important;
  font-size: 16px !important;
}

.ant-upload-drag {
  background-color: transparent !important;
  border: 3px dashed #d9d9d9 !important;
}

.ant-upload-hint {
  margin: 0 !important;
  line-height: 1.3 !important;
}

.ant-modal-header {
  border-radius: 20px !important;
}

.ant-modal-content {
  padding: 0px 0px 20px 0px !important;
  border-radius: 20px !important;
}

.ant-modal-footer {
  padding-right: 30px !important;
  margin-top: 0px !important;
}