* {
  box-sizing: border-box;
  transition: all .2s ease-in-out;
}


.header {
  width: 100%;
  max-width: 1200px;
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: 14px 17px 40px 0px rgba(112, 144, 176, 0.08);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 24px;
  border-radius: 30px;
}


.header-logo {
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7b5aff;;
}

.header-logo h4 {
  color: #fff;
  font-weight: 500;
}

.nav-items{
 display: flex;
 justify-content: space-between;
 align-items: center;
 gap: 10px; 
}
.nav-btn{
  max-width: 166px;
  background-color: #7b5aff;
  padding: 7px 20px ;
  height: auto;
  border-radius: 30px;
}

.nav-btn span{
  font-size: 15px;

}

.nav-btn:hover{
  background-color:#6242e4!important;
}